node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/
ios/

# macOS
.DS_Store

.env
contest_app_media/1/band_logo.jpg
contest_app_media/1/band_photo.jpg
contest_app_media/1/conductor_photo.jpg
contest_app_media/11/band_logo.png
contest_app_media/11/band_photo.jpg
contest_app_media/11/conductor_photo.jpg
contest_app_media/12/band_photo.jpg
contest_app_media/12/conductor_photo.jpg
contest_app_media/13/band_logo.png
contest_app_media/13/band_photo.jpg
contest_app_media/13/conductor_photo.jpg
contest_app_media/14/band_logo.jpg
contest_app_media/14/band_photo.png
contest_app_media/14/conductor_photo.jpg
contest_app_media/15/band_logo.png
contest_app_media/15/band_photo.jpg
contest_app_media/15/conductor_photo.jpg
contest_app_media/16/band_logo.png
contest_app_media/16/band_photo.jpg
contest_app_media/16/conductor_photo.jpg
contest_app_media/17/band_logo.png
contest_app_media/17/band_photo.jpg
contest_app_media/17/conductor_photo.jpg
contest_app_media/18/band_logo.jpg
contest_app_media/18/band_photo.jpg
contest_app_media/18/conductor_photo.jpg
contest_app_media/19/band_logo.jpg
contest_app_media/19/band_photo.jpg
contest_app_media/19/conductor_photo.jpg
contest_app_media/2/band_logo.jpg
contest_app_media/2/band_photo.jpg
contest_app_media/2/conductor_photo.png
contest_app_media/20/band_logo.jpg
contest_app_media/20/band_photo.jpg
contest_app_media/21/band_logo.png
contest_app_media/21/band_photo.jpg
contest_app_media/21/conductor_photo.jpg
contest_app_media/22/band_logo.png
contest_app_media/22/band_photo.jpg
contest_app_media/23/band_photo.jpg
contest_app_media/23/conductor_photo.jpg
contest_app_media/24/band_logo.png
contest_app_media/24/band_photo.jpg
contest_app_media/24/conductor_photo.jpg
contest_app_media/25/band_logo.jpg
contest_app_media/25/band_photo.jpg
contest_app_media/25/conductor_photo.jpg
contest_app_media/26/band_logo.jpg
contest_app_media/26/band_photo.jpg
contest_app_media/26/conductor_photo.jpg
contest_app_media/27/band_logo.png
contest_app_media/27/band_photo.jpg
contest_app_media/27/conductor_photo.jpg
contest_app_media/28/band_logo.png
contest_app_media/28/band_photo.jpg
contest_app_media/28/conductor_photo_2.jpg
contest_app_media/28/conductor_photo.jpg
contest_app_media/29/band_logo.png
contest_app_media/29/band_photo.jpg
contest_app_media/29/conductor_photo.jpg
contest_app_media/3/band_logo.jpg
contest_app_media/3/band_photo.jpg
contest_app_media/3/conductor_photo.jpg
contest_app_media/30/band_logo.jpg
contest_app_media/30/band_photo.jpg
contest_app_media/30/conductor_photo.jpg
contest_app_media/4/band_logo.png
contest_app_media/4/band_photo.jpg
contest_app_media/4/conductor_photo.jpg
